body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 10px;
  font-size: 1.5rem;
}

p {
  margin: 10px
}

.outerbox {
  text-align: center;
  background-color: #cce6f0;
  padding: 30px;
}

.qrbox {
background: #f9fdff;
margin: 30px 440px 100px 440px;
border-radius: 30px;
padding-bottom: 50px;

}

.qrcode {
  width: 300px;
  margin: 10px auto 10px auto;
  padding: 20px;
  border-radius: 30px;
}

.improve {
  margin-top: 0;
}
